@import "~bootstrap/scss/bootstrap";
p{
    color: red;
    font-size: 10px;
}

.tavoli{
    margin-bottom: 10px;
}
.creatavolo{
    color: #0050A5;
}
.imgtavolo{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.bordotavolo{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #82C3D5;
}


.coloreordine{
    color: #01283f ;
    font-size: 16px;
    margin-right: 20px;
}

.elimina{
    margin-left: 20px;
}
.mostraordini{
color: #01283f ;
}
.creatavolo2{
    text-align: center;
}

.nomeordinee{
    margin: 10px;
}


