@import "~bootstrap/scss/bootstrap";
p{
    color: red;
    font-size: 10px;
}

.tavoli{
    margin-bottom: 10px;
    border: 2px solid #82C3D5;
    padding-bottom: 10px;
    padding-left: 5px;
    box-shadow: 1px 1px 2px 2px #0050A5 ;
    animation: ciao 0.5s linear;
}
@keyframes ciao {
    0%{
      margin-top: 150px;
    } 
  }
.creatavolo{
    color: #0050A5;
}
.imgtavolo{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.bordoimmagine img{
    border-radius: 20px;
}
.bordotavolo{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #82C3D5;
    animation:animazionebottone 5s infinite;

}

@keyframes animazionebottone {
    0%{transform: rotate(0deg);}
    20%{transform: rotate(10deg); box-shadow: 3px 3px 3px 3px #0050A5;}
    40%{transform: rotate(0deg); box-shadow: 3px 3px 3px 1px #82C3D5}
    60%{transform: rotate(-10deg);box-shadow: 3px 3px 3px 3px #0050A5 ;}
    100%{transform: rotate(0deg);}
}



.coloreordine{
    color: #01283f ;
    font-size: 16px;
    margin-right: 20px;
}
.tavolidue{
    margin-top: 30px;
    text-align: center;
}

.formordine{
    margin-bottom: 10px;
}
.bottoneordinee{
    margin-right: 20px;
    margin-left: 10px;
}

.elimina{
    margin-left: 20px;
}
.mostraordini{
color: #01283f ;
margin-left: 10px;
}
.creatavolo2{
    text-align: center;
}

.bordonomeordine{
    border: 2px solid black;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
.text-red {
    color: red;
}
.text-green {
    color: green;
}
.contenitoreordine{
    background-color: #82C3D5;
    padding-bottom: 20px;
    height: 100vh;
    overflow-y: scroll;
}
ul{
    list-style: none;
}

.nomeordinee{
    font-size: 20px;
}

.tabellacentrale{
    text-align: center;
}
.bottoneinvio{
    margin-top: 30px;
}
.modificaordine{
    flex-wrap: wrap;
}
.ordinenome{
    margin-bottom: 20px;
}
.ordinenome1{
    margin-left: 18px;
}
.tiplogiaordine{
    margin-bottom: 20px;
}
.salvacamb{
    margin-right: 20px;
}
.tuttitavoli{
    border: 2px solid black;
    margin-bottom: 20px;
    border: 2px solid #82C3D5;
    box-shadow: 1px 1px 2px 2px #0050A5 ;
    animation: ciao 0.5s linear;
}
.immaginedashboard img {
    width: 30px;
  }


